* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth; /*Hiệu ứng hành động cuộn*/
}

/**/

.text-white {
    color: #fff !important;
}

.text-center{
    text-align: center !important;
}

.pull-right {
    float: right !important;
}

.btn {
    display: inline-block;
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    margin-top: 16px;
    border: none;
}

.btn:hover {
    cursor: pointer;
    color: #000;
    background-color: #ccc;

}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}

.col-third {
    width: 33.33333%;
}



#main {

}

#header {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 46px;
    background-color: #000;
    overflow: hidden;
}

#nav{
    display: inline-block;
}

#nav, .subnav{
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}

#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}


#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    min-width: 160px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down{
    font-size: 20px;
}

#header .moblie-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .moblie-menu-btn,
#header .search-btn{
    float: right;
    padding: 0 20px;
}


#header .search-btn:hover{
    background-color: orangered;
    cursor: pointer;
}

#header .moblie-menu-btn:hover {
    background-color: #ccc;
}

#header .moblie-menu-btn:hover .menu-icon {
    color: #000;
}

#header .menu-icon,
#header .search-icon{
    color: #fff;
    font-size: 16px;
    line-height: 46px;
}



/* #nav .subnav li:hover a { trùng css nên đưa lên trên
    color: #000;
    background-color: #ccc;
} */

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%; /*chiều cao = 50% chiều rộng*/
    background: url('/assets/img/slider/img_ch.jpg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 48px;
    color: #fff;
    width: 100%;
    text-align: center;
}
#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}
#slider .text-description {
    font-size: 15px;
    margin-top: 24px;
}

#content {

}

#content .content-section{
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px; /*Khoảng cách chữ*/
}
#content .section-sub-heading {
    font-size: 15px;
    margin-top: 25px;
    text-align: center;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text{
    font-size: 15px;
    margin-top: 25px;
    text-align: justify ;
    line-height: 1.4; /*dãn dòng*/
}

#content .members-list{
    margin-top: 48px;
}



#content .member-name{
    font-size: 15px;
    
}

#content .member-img{
    margin-top: 16px;
    width: 154px;
    border-radius: 4px;
}

/*tour*/
.tour-section {
    background: #000;
}

.tickets-list {
    background-color: #fff;
    margin-top: 44px;
    list-style-type: none;
}

.tickets-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    
}

.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

/*places*/

.places-list {
    margin-top: 32px;
}  

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    padding: 16px;
    font-size: 15px;
    background-color: #fff;
}

.place-heading {
    font-size: 15px;
    font-weight: 550;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-desc {
    margin-top: 15px;
    line-height: 1.4;
}

/*Contact form*/
.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.6;
}

.contact-info i{
    width: 30px;
    display: inline-block;
    text-align: center;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

/*Map section*/
.map-section img{
    width: 100%;
}

#footer {
    padding: 64px 16px;
    text-align: center; 
}

#footer .socials-list {
    font-size: 24px;
}

#footer .socials-list a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

#footer .coppy-right a:hover,
#footer .socials-list a:hover {
    color: rgba(0, 0, 0, 0.4);
}

#footer .coppy-right {
    margin-top: 16px;
    color: rgba(0, 0, 0, 0.6);
    
}

#footer .coppy-right a {
    color: rgba(0, 0, 0, 0.6);
}


